<div #box class="resizable-draggable"
     [style.width.px]="width"
     [style.height.px]="height"
     [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
     [class.active]="resizing"
     (window:mouseup)="setStatus($event, 0)"
     cdkDrag
>

  <div class="mover" style="background-color: #262626;" cdkDragHandle>
    <i class="material-icons point"  style="color: #9f9f9f" (click)="deleteMyself()">close</i>
    <i *ngIf="visible" class="material-icons point"  style="color: #9f9f9f; margin-left: 10px" (click)="toggleVisibility()">visibility</i>
    <i *ngIf="!visible" class="material-icons point"  style="color: #9f9f9f; margin-left: 10px" (click)="toggleVisibility()">visibility_off</i>
    <i *ngIf="showPoints" class="material-icons point"  style="color: #9f9f9f; margin-left: 10px" (click)="togglePoints()">fiber_manual_record</i>
    <i *ngIf="!showPoints" class="material-icons point"  style="color: #9f9f9f; margin-left: 10px" (click)="togglePoints()">adjust</i>
  </div>

  <div [hidden]="!visible" style="height: 90%; width: 100%; padding: 5px">
    <a class="chart-card" style="width: 100%; height: 80%">
      <div class="myChartWrapper" style="height: 100%">
        <div class="myChart" (wheel)="onZoom($event)" [style.width.%]="this.chartWidth" style="height: 95%">
          <canvas #chart baseChart
                  [data]="this.data"
                  [type]="'line'"
                  [options]="chartModel.options(currentScale)">
          </canvas>
        </div>
      </div>
    </a>

    <a class="card" *ngIf="this.chartModel.showScale()" style="width: 100%; height: 20%">
      <mat-button-toggle-group [(value)]="currentScale" name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle value="minute">Minute</mat-button-toggle>
        <mat-button-toggle value="hour">Hour</mat-button-toggle>
        <mat-button-toggle value="day">Day</mat-button-toggle>
        <mat-button-toggle value="week">Week</mat-button-toggle>
        <mat-button-toggle value="month">Month</mat-button-toggle>
      </mat-button-toggle-group>
    </a>
  </div>
  <div class="resize-action" (click)="toggleStatus()"></div>
</div>
