<h1 mat-dialog-title>Add Chart</h1>
<div mat-dialog-content>
  <p>Component Type</p>
  <mat-form-field appearance="outline" style="color: #efefef">
    <mat-select [(ngModel)]="data.componentType" style="color: #efefef">
      <mat-option *ngFor="let type of data.allComponentTypes" [value]="type">
        {{componentTypes[type]}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.componentType" cdkFocusInitial>Ok</button>
</div>
