<div class="card-container-large">
  <div class="card-container">
    <div class="card" style="width: 100%; margin-top: 1em">
      <mat-form-field appearance="outline" style="margin: 1em">
        <mat-label style="color: #efefef">Ticker</mat-label>
        <input matInput [(ngModel)]="chosenTicker" style="color: #efefef">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label style="color: #efefef">Interval</mat-label>
        <input matInput value="1" type="number" [(ngModel)]="chosenInterval">
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin: 1em" [color]="'accent'">
        <mat-select [(value)]="chosenIntervalType" style="color: #59b6e7">
          <mat-option *ngFor="let interval of intervalTypes" [value]="interval">
            {{interval.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin: 1em" [color]="'accent'">
        <mat-label style="color: #efefef">From Date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="fromDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin: 1em" [color]="'accent'">
        <mat-label style="color: #efefef">To Date</mat-label>
        <input matInput [matDatepicker]="picker2" [formControl]="toDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <button mat-button style="background-color: #2d4250; margin-bottom: 15px; margin-left: 20px" (click)="startRun()">Select</button>
    </div>
    <a class="chart-card" style="width: 90%">
      <canvas #chart baseChart
              [data]="valueData"
              [type]="'line'"
              [options]="options()">
      </canvas>
    </a>
    <a class="chart-card">
      <canvas #chart baseChart
              [data]="macData"
              [type]="'line'"
              [options]="options()">
      </canvas>
    </a>
    <a class="chart-card">
      <canvas #chart baseChart
              [data]="shareData"
              [type]="'line'"
              [options]="options()">
      </canvas>
    </a>
    <a class="card" style="width: 100%">
      <mat-label style="margin: 1em">TimeScale</mat-label>
      <mat-button-toggle-group [(value)]="currentScale" name="favoriteColor" aria-label="Favorite Color">
        <mat-button-toggle value="minute">Minute</mat-button-toggle>
        <mat-button-toggle value="hour">Hour</mat-button-toggle>
        <mat-button-toggle value="day">Day</mat-button-toggle>
        <mat-button-toggle value="week">Week</mat-button-toggle>
        <mat-button-toggle value="month">Month</mat-button-toggle>
      </mat-button-toggle-group>
    </a>
  </div>
</div>
